html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  /* Margin bottom para el footer */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  /* fijar el alto */
  line-height: 60px;
  /* centrar */
  background-color: #C4C4C4;
}

.footer-flow {
  bottom: 0;
  width: 100%;
  height: 60px;
  /* fijar el alto */
  line-height: 60px;
  /* centrar */
  background-color: #C4C4C4;
}

.footer-mobile{
  background-color: #C4C4C4;
  height: 60px;
}

body,
html {
  height: 100%;

}

.center-me {
  display: grid;
}

.item-active {
  background-color: #C4C4C4;
}




.rotate-wrapper{
  max-width: 75px;
  height: 150px;
}
.rotate-text{
  text-transform: uppercase;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg) translateX(-100%);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  white-space: nowrap;
}

/*Rotar los textos*/


.min-height{
  min-height: auto;
}
